<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lmn.Arbiter_Android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" ></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <!--  jsHybugger content provider -->
        <!--  <provider android:authorities="jsHybugger.org" android:exported="false" android:name="org.jshybugger.DebugContentProvider">-->

                <!-- if a StackOverflowError occurs during file instrumentation increase this value - default 32000 bytes  -->
        <!--    <meta-data android:name="instrumentStacksize" android:value="32000"/> -->

                <!-- regular expression for filenames which are not instrumented -->
                <!-- meta-data android:name="excludePattern" android:value="(\\.min\\.js)"/ -->

        <!--  </provider> -->

        <!--  jsHybugger debug service -->
        <!--  <service android:enabled="true" android:exported="false" android:name="org.jshybugger.DebugService"> -->

                <!-- debug listen port - default 8888 -->
        <!--    <meta-data android:name="debugPort" android:value="8888"/>-->
        <!--    <meta-data android:name="domainSocketName" android:value="jsHybugger"/>-->
        <!--  </service> -->
                        
        <activity
            android:name="com.lmn.Arbiter_Android.Activities.MapActivity"
            android:configChanges="orientation|screenSize"
            android:icon="@drawable/icon"
            android:label="@string/map_activity_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lmn.Arbiter_Android.Activities.ProjectsActivity"
            android:configChanges="orientation|screenSize"
            android:icon="@drawable/icon"
            android:label="@string/projects_activity_name" >
            
        </activity>
        <activity
            android:name="com.lmn.Arbiter_Android.Activities.AOIActivity"
            android:label="@string/title_activity_aoi"
            android:configChanges="orientation|screenSize" >
        </activity>
    </application>

</manifest>
