<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lmn.Arbiter_Android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.lmn.Arbiter_Android.MapActivity"
            android:label="@string/map_activity_name" 
            android:icon="@drawable/icon">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name="AddLayersActivity"
            android:label="@string/add_layers_activity_name"
            android:icon="@drawable/icon">
            
        </activity>
        <activity 
            android:name="LayersActivity"
            android:label="@string/layers_activity_name"
            android:icon="@drawable/icon">
            
        </activity>
        <activity 
            android:name="ProjectsActivity"
            android:label="@string/projects_activity_name"
            android:icon="@drawable/icon">
            
        </activity>
        <activity 
            android:name="ModifiedFeaturesActivity"
            android:label="@string/modified_activity_name"
            android:icon="@drawable/icon">
            
        </activity>
        <activity 
            android:name="SettingsActivity"
            android:label="@string/settings_activity_name"
            android:icon="@drawable/icon">
            
        </activity>
    </application>

</manifest>
